@{
  ViewData["Title"] = "Application form";
}

<h1></h1>
<h4></h4>

<form>

  <!-- ################## Personal Data ###################-->
  <fieldset>

    <legend>Personal</legend>

      <!-- Full name inputs-->
      <label for="FirstName">First Name</label>
      <br>
      <input id="FirstName" name="FirstName" type="text">
      <br>

      <label for="MiddleName">Middle Name</label>
      <br>
      <input id="MiddleName" name="MiddleName" type="text">
      <br>

      <label for="LastName">Last Name</label>
      <br>
      <input id="LastName" name="LastName" type="text">
      <br>

      <!--Date of birth Input-->
      <label for="DOB">Date of Birth</label>
      <br>
      <input id="DOB" name="DOB" type="date">
      <br>

      <!--Gender input-->
      <p>Gender</p>
      <label for="Gender_M">Male</label>
      <input type="radio" id="Gender_M" name="Gender" value="Male">

      <label for="Gender_F">Female</label>
      <input type="radio" id="Gender_F" name="Gender" value="Female">
      <br>

      <!--Relationship Status input-->
      <p>Relationship status</p>
      <label for="">Single</label>
      <input type="radio" id="RelationshipStatus_Single" name="RelationshipStatus" value="Single">

      <label for="">Married</label>
      <input type="radio" id="RelationshipStatus_Married" name="RelationshipStatus" value="Married">

      <label for="">Divorced</label>
      <input type="radio" id="RelationshipStatus_Divorced" name="RelationshipStatus" value="Divorced">

      <label for="">Widowed</label>
      <input type="radio" id="RelationshipStatus_Widowed" name="RelationshipStatus" value="Widowed">
      <br>

  </fieldset>


<!-- ################## Contact Data ###################-->
  <fieldset>
    <legend>Contact</legend>

    <!--Email-->
    <br>
    <label for="Email">Email address</label>
    <input type="email" id="Email" name="email">
    <br>

    <!--Phone numbers-->
    <br>
    <label for="PersonalPhone">Personal Phone</label>
      <input type="text" maxlength="10" name="PersonalPhone" id="PersonalPhone">
      <input type="text" maxlength="10" name="PersonalPhone" id="PersonalPhone">
    <br>

    <br>
    <label for="WorkPhone">Work phone</label>
      <input type="text" maxlength="10" name="WorkPhone" id="WorkPhone">
      <input type="text" maxlength="10" name="WorkPhone" id="WorkPhone">
    <br>

    <!--Emergency Contact_-->
    <p id="Emergency Contact">Emergency Contact</p>

      <label for="EmergencyContact_#1">
Emergency Contact 1
      </label>
      <input type="text" maxlength="10" name="EmergencyContact_#1" id="EmergencyContact_#1">

      <label for="EmergencyContact_#1_Relation"></label>
      <select id="EmergencyContact_#1_Relation" name="EmergencyContact_#1_Relation">
        <option value="Parent">Parent</option>
        <option value="Child">Child</option>
        <option value="Cousin">Cousin</option>
        <option value="Friend">Friend</option>
        <option value="Sibling">Sibling</option>
        <option value="Grandchild">Grandchild</option>
        <option value="Other">Other</option>
      </select>

      <label for="EmergencyContact_#2"></label>
      <input type="text" maxlength="10" name="EmergencyContact_#2" id="EmergencyContact_#2">

      <label for="EmergencyContact_#2_Relation">Emergency Contact 2</label>
      <select id="EmergencyContact_#2_Relation" name="EmergencyContact_#2_Relation">
        <option value="Parent">Parent</option>
        <option value="Child">Child</option>
        <option value="Cousin">Cousin</option>
        <option value="Friend">Friend</option>
        <option value="Sibling">Sibling</option>
        <option value="Grandchild">Grandchild</option>
        <option value="Other">Other</option>
      </select>

    <!-- Addresses -->
    <div id="Address_#1">Address</div>
    <input maxlength="150" id="Address_#1" name="Address_#1">

    <div id="Address_#2">Seconday Address</div>
    <input maxlength="150" id="Address_#2" name="Address_#2">

  </fieldset>

  <button type="submit">Apply</button>

</form>
