
@{
ViewData["Title"] = "Change Username";
}

<!-- Panel #1 (Authentication)-->
<form>

 <div>
    <input placeholder="First name">
    <span></span>
    <input placeholder="Last name">
    <span></span>
  </div>

  <div>
    <input placeholder="Email">
    <span></span>
  </div>

  <button type="submit">Confim</a></button>
</form>
<br>

<!-- Panel #2 (Update Username) -->
<form>

  <div>
    <input placeholder="New Username">
    <span></span>
  </div>

  <button type="submit"><a asp-controller="Forms" asp-action="Login">Log in</a></button>
</form>
