@model BSAD_Web.Models.ForgotUsernameModel

@{
ViewData["Title"] = "Change Username";
}

<!-- Panel #1 (Authentication)-->
<form>

 <div>
    <input asp-for="Firstname" placeholder="First name">
    <span asp-validation-for="Firstname"></span>
    <input asp-for="Lastname" placeholder="Last name">
    <span asp=validation-for='Lastname'></span>
  </div>

  <div>
    <input asp-for="Email" placeholder="Email">
    <span asp-validation-for="Email"></span>
  </div>

  <button type="submit">Confim</a></button>
</form>
<br>

<!-- Panel #2 (Update Username) -->
<form>

  <div>
    <input asp-for="NewUsername" placeholder="New Username">
    <span asp-validation-for="NewUsername"></span>
  </div>

  <button type="submit"><a asp-controller="Forms" asp-action="Login">Log in</a></button>
</form>
