
<!--Used For Tab title-->
@{
    ViewData["Title"] = "Registration";
}

<!--Side panel display-->
<h1>Register</h1>
<img src="" alt"image">

<!--Registration form-->
<form>

  <div>
    <input placeholder="First name">
    <span>First error</span>
    <input placeholder="Last name">
    <span>Last error</span>
  </div>

  <div>
    <input placeholder="username">
    <span>User error</span>
  </div>

  <div>
    <input placeholder="Email">
    <span>Email error</span>
  </div>

  <div>
    <input placeholder="Password">
    <span>Pass error</span>
    <input placeholder="Confirm Password">
    <span>ConPass error</span>
  </div>


  <button type="submit">Register</button>
</form>
<br>

<!--Lead to Login-->
<p>Already have an account? <a asp-action="Login">Log in</a></p>
